<h1>Add a new Course</h1>

{{#if error}}
<p class="alert">{{error}}</p>
{{/if}}

<form action="/add" method="POST" novalidate>
  <div class="input-field">
    <input id="title" name="title" type="text" class="validate" required value={{data.title}}>
    <label for="title">Course name</label>
    <span class="helper-text" data-error="Please, enter a course name"></span>
  </div>

  <div class="input-field">
    <input id="price" name="price" type="number" class="validate" required min="1" value={{data.price}}>
    <label for="price">Price</label>
    <span class="helper-text" data-error="Please, enter price"></span>
  </div>

  <div class="input-field">
    <input id="img" name="img" type="text" class="validate" required value={{data.img}}>
    <label for="img">Course image URL</label>
    <span class="helper-text" data-error="Please, enter course URL"></span>
  </div>

  <div class="input-field">
    <input id="theme" name="theme" type="text" class="validate" required value="{{data.theme}}">
    <label for="theme">Theme</label>
    <span class="helper-text" data-error="Please, enter course theme"></span>
  </div>

  <input type="hidden" name="_csrf" value="{{csrf}}">

  <button class="btn btn-primary">ADD</button>
</form>