<h1>Shopping Cart</h1>

<div id="cart">
    {{#if courses.length}}
        <table>
            <thead>
                <tr>
                    <th>Title</th>
                    <th>Quantity</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                {{#each courses}}
                <tr>
                    <td>{{title}}</td>
                    <td>{{count}}</td>
                    <td>
                        <button 
                            class="btn btn-small red darken-4 js-remove" 
                            data-id="{{_id}}"
                            data-csrf="{{@root.csrf}}"
                        >Delete</button>
                    </td>
                </tr>
                {{/each}}
            </tbody>
        </table>

        <p><strong>Price: </strong><span class="price">{{price}}</span></p>

        <div class="cart-btns">
            <form action="/orders" method="POST">

                <input type="hidden" name="_csrf" value="{{csrf}}">
                
                <button type="submit" class="btn">Buy</button>
            </form>


            <form action="/courses" class="shopping">
                <button class="btn big  indigo">Continue shopping</button>
            </form>
    </div>
    {{else}}
        <p>Your cart is empty</p>
    {{/if}}
</div>