<div class="course">
    <button onclick="window.close()" class="course-close" title="close course window">X</button>
    
    <h3>{{course.title}}</h3>

    <img src="{{course.img}}" alt="{{course.title}}" class="course-img">

    <p class="price big">{{course.price}}</p>

    <div class="course-btns" >
         {{#ifeq userId._id @root.userId}}
            <form action="/cart/add" method="POST">
                <input type="hidden" name="_csrf" value="{{@root.csrf}}">       
                <input type="hidden" name="id" value="{{course._id}}">
                <button type="submit" class="btn btn-primary">Buy</button>
            </form>
        {{/ifeq}}

        {{#ifNoteq userId._id @root.userId}}
            <button type="submit" class="btn btn-primary">Log in to buy</button>
        {{/ifNoteq}}

        

        <form action="/courses" class="course-back-btn">
            <button type="submit" class="waves-effect waves-light btn indigo">&larr; Back to all courses page</button>
        </form>
    </div>
                               
</div>