<h1 class="center-align">Courses</h1>

<div class="searchPanel">
    <form action="/courses">
        <button class="btn btn-primary">Show all Courses</button>
    </form>
    
    <form action="/courses">
        
            <button class="btn indigo" type="submit">I am author</button>
           
        
    </form>
   
    <form action="/courses">
        <div class="input-field">
            <input id="search" name="search" type="text" placeholder="Search" class="validate" max="30">
            <input type="hidden" name="_csrf" value="{{@root.csrf}}">       
            <input type="hidden" name="id" value="{{_id}}">
            <div>
                <button type="submit">&#x1F50D;</button>
            </div>
        </div>
        
    </form>
</div>

<div class="coursesContainer">
{{#if courses.length}}
{{#each courses}}
 <div class="row">
    <div class="col">
        <div class="card">
            <div class="card-image">
                <img src="{{img}}" alt="{{title}}" class="course-image">
            </div>
            <div class="card-content">
                <span class="card-title">{{title}}</span>
                <p class="price">{{price}}</p> 
                {{#ifeq userId._id @root.userId}}
                    <p style="margin:1%;">Author: <i><b>You</b></i></p>
                {{/ifeq}}
                {{#ifNoteq userId._id @root.userId}}
                    <p style="margin:1%;">Author: <i>{{userId.name}}</i></p>
                {{/ifNoteq}}
    
                <p>Theme: {{theme}}</p>
            </div>
            <div class="card-action actions">
                <a href="/courses/{{_id}}" target="_blank">Open</a>
                
                {{#if @root.isAuth}}

                {{#ifeq userId._id @root.userId}}
                    <a href="/courses/{{_id}}/edit?allow=true" style="color:#3d5afe;margin-right:0;">Edit your course</a>
                {{/ifeq}}

                {{#ifNoteq userId._id @root.userId}}
                    <form action="/cart/add" method="POST">
                        <input type="hidden" name="_csrf" value="{{@root.csrf}}">       
                        <input type="hidden" name="id" value="{{_id}}">
                        <button type="submit" class="btn btn-primary">Buy</button>
                    </form>
                {{/ifNoteq}}
                {{/if}}
            </div>
        </div>
    </div>
 </div>
{{/each}}
{{else}}
    <p>No courses yet</p>
{{/if}}
</div>