<h1>Profile</h1>

<div class="row avatar-wrapper">
    <div class="col s-6">
        {{#if user.avatarUrl}}
            <img 
                class="avatar" 
                src="/{{user.avatarUrl}}" 
                alt="avatar-{{user.name}}"
            >
        {{else}}
            <p><i>Avatar is not chosen</i></p>
        {{/if}}
    </div>


    <div class="col s-6">
        <form action="/profile" method="POST" enctype="multipart/form-data">
            <p>Your email: <strong>{{user.email}}</strong></p>
            
            <div class="input-field">
                <input id="name" name="name" type="text" class="validate" min="1" max="20" required value="{{user.name}}">
                <label for="name">Your Name <span>&#9998;</span> :</label>
                <span class="helper-text" data-error="Please, enter a name"></span>
            </div>

            <div class="file-field input-field">
                <div class="btn indigo">
                    <span>Upload Avatar</span>
                    <input type="file" name="avatar">
                </div>
                <div class="file-path-wrapper">
                    <input class="file-path validate" type="text" placeholder="JPEG, PNG, JPG">
                </div>
            </div>

            <input type="hidden" name="_csrf" value="{{csrf}}">

            <button type= "submit" class="btn avatar-btn">Save changes <span>&#10004;</span></button>

        </form>
    </div>
</div>

   
   
  
